<div style="text-align:center">
<form action = '' method = "post">
<label>Enter movie title: </label>
<input type = "search" name = "search_field" >
<button>Search</button>
</form>
</div>

<h4>{{ title }}</h4>

{% for movie in movieslist %}
   <div style="text-align:center">
   <br /> <br />
   <h3>Title: </h3>
   {{ movie.title }}
   <br />
   <h4>Description: </h4>
   {{ movie.description }}
   <br />
   <!--mora biti ulr da bi se renderovalo?-->
   <img src="{{ file_url(movie.image) }}" /><br>
   </div>
{% endfor %}